* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  text-align: center;
}

header {
  color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: green;
  justify-content: space-between;
  position:fixed
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: non;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

a {
  text-align: none;
}
.tcr{
  height: 9vh;
  width: 12vw;
  background-repeat: no-repeat;
}